<div class="macaroon-item" >
  <div class="macaroon-item-image">
    <img src="../assets/{{product.image}}" >
  </div>
  <div class="macaroon-item-box">
    <div class="macaroon-item-title">{{product.title}}</div>
    <div class="macaroon-action">
      <div class="macaroon-action-text">1шт. <span>{{product.price| currencyPipe}}</span></div>
      <div class="macaroon-button">
        <button class="btn btn-macaroon-choose" (click)="addProductToCart()" ButtonEffects>Заказать</button>
      </div>
    </div>
  </div>
</div>

<!-- (click)="addToCard(product, orderElement)"-->
