<footer class="footer">
  <div class="container">
    <div class="footer-logo-right">
      <div class="footer-logo">
        <img src="assets/images/macaroons.png" alt="Macaroons">
      </div>
      <div class="footer-right">Все права защищены, 2020</div>
    </div>
    <div class="footer-social">
      <a [href]="link"><img src="assets/images/instagram_.png" alt="Instagram" ></a>
      <span>Мы в Instagram</span>
    </div>
    <div class="footer-contact">{{phoneNumber| convertPhoneNumber}}</div>
  </div>
  <div class="footer-gift" [ngStyle]="{ display: giftIsVisible ? 'flex' : 'none' }"><img src="assets/images/present.png" alt="Gift"></div>
  <div [class.footer-message]="showPresent" >Оформите заказ
    <span>и получите подарок!</span>
  </div>

  <div class="footer-cart"   >

    <div class="cart-circle" [ngStyle]="{ display: isVisible ? 'flex' : 'none' }">
      <img src="assets/images/cart.png" alt="Cart">
      <div class="cart-count">{{cartService.count}}          </div>
    </div>
    <div class="cart-message">{{cartService.sum|currencyPipe}} </div>

  </div>

</footer>


