.header {
  padding: 35px 0 29px 0;
  background: #eba8b1;
  position: relative;
}

.header .container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.header-logo {
  margin-left: 15px;
}

.menu {
  margin-left: 233px;
  position: relative;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style: none;
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  margin-right: 40px;
  font-size: 14px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(119, 11, 29);
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: .8s;

}
.menu ul li a:hover{
  border-bottom: 2px solid rgb(119, 11, 29);
  cursor: pointer;
}
.burger{
  display: none;
}
.menu .close{
  display: none;
  height: 24px;
  width: 24px;
  top: 30px;
  left: 20px;
  position: fixed;
}

.header-contact {
  margin-left: 289px;
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/*adaptive==================================================*/
@media screen and (max-width: 1167px) {
  .header-contact {
    display: none;
  }
  .menu {
    margin-left: 298px;
    position: relative;
  }


}

@media screen and (max-width: 768px) {

  .header {
    padding: 35px 0 29px 0;
    background: #eba8b1;
  }

  .header.container {
    max-width: 728px;
    margin: 0 auto;
  }

  .menu {
    margin-left: 103px;
  }

  .burger {
    display: none;
  }

  .header-contact {
    display: none;
  }

}

@media screen and (max-width: 602px) {
  .header .container {
    justify-content: space-between;
  }

  .header .menu {
    margin-left: 0;
  }

  .header .menu ul li a {
    margin-right: 20px;
  }
}

@media screen  and (max-width: 476px) {
  .header .menu{
    display: none;
  }

  .header .menu.open{
    display: block;
  }

  .header .menu ul {
    display: block;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //color: #D0654AFF;
    background: rgba(0, 0, 0, 0.83);
    z-index: 5;
    padding-top: 120px;
    margin: 0;
  }
  .header .menu ul li a{
    color: #FFFFFF;
  }

  .header .menu{
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
  }

  .burger {
    display: block;
    margin-left: 230px;
    margin-right: 15px;
  }

  .menu .close {
    display: block;
  }

}

@media screen and (max-width: 376px) {

  .header.container {
    max-width: 345px;
    margin: 0 auto;
  }
  .burger {
    display: block;
    margin-left: 186px;
    margin-right: 15px;
  }

}

@media screen and (max-width: 320px) {
  .burger {
    margin-left: 140px;
  }
}
