/*First section*/
.cook-macaroon {
  padding: 120px 0 120px 0;
  background: #ffefef;
}

.cook-macaroon-container {
  max-width: 1170px;
  margin: 0 auto;
}

.cook-info-macaroon {
  display: flex;
  align-items: end;
  margin-left: 15px;

}

.cook-info {
  max-width: 473px;
  margin-bottom: 25px;
}

.cook-info h2 {
  max-width: 100%;
  font-size: 44px;
  font-family: Tavolga-free, sans-serif;
  font-weight: normal;
  color: rgb(51, 25, 7);
  line-height: 1.2;
  margin-bottom: 60px;
}

.cook-info-text {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.5;
  max-width: 400px;

}

.cook-image {
  max-width: 100%;
  margin-right: 15px;
  margin-left: 151px;
}

.cook-descriptions {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 63px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 87px;
}
.cook-descriptions .desc:hover .desc-order{
  background-color: rgb(235, 168, 177);
  color: rgb(130, 19, 40);
  transition: .8s;
}

.desc.cook-descriptions-one {
  margin-left: 0;
}

.cook-descriptions .desc-order-one {
  font-size: 60px;
  font-family: Gilroy ExtraBold, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.75;
  border-radius: 50%;
  background-color: rgb(130, 19, 40);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.desc-order {
  font-size: 60px;
  font-family: Gilroy ExtraBold, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.75;
  border-radius: 50%;
  background-color: rgb(130, 19, 40);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.desc-title {
  font-size: 20px;
  font-family: Gilroy ExtraBold, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 2.25;
  margin-bottom: 20px;

}

.desc-text {
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(51, 25, 7);
  max-width: 209px;
}

@media screen and (max-width: 1167px) {
  .cook-info-macaroon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cook-info {
    max-width: 100%;
    text-align: center;
  }

  .cook-info h2 {
    margin: 0 124px 62px 124px;
    max-width: 475px;
    text-align: center;
  }

  .cook-info-text {
    max-width: 670px;
    text-align: center;
    margin: 0 31px 20px 31px;
  }

  .cook-image {
    margin: 0;
    text-align: center;
  }



  .cook-descriptions {
    grid-template-columns: 230px 230px;
    grid-template-rows: 230px 230px;
    column-gap: 87px;
    justify-content: space-around;
    align-items: center;
    margin-left: 190px;

  }
}

@media screen and (max-width: 768px) {
  .cook-macaroon {
    padding: 119px 0 123px 0;
  }

  .cook-macaroon-container {
    max-width: 728px;
    margin: 0 auto;
  }


  .cook-info-macaroon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cook-info {
    max-width: 100%;
    text-align: center;
  }

  .cook-info h2 {
    margin: 0 124px 62px 124px;
  }

  .cook-info-text {
    max-width: 100%;
    text-align: center;
    margin: 0 31px 20px 31px;
  }

  .cook-image {
    margin: 0;
    text-align: center;
  }

  .cook-descriptions {
    grid-template-columns: 230px 230px;
    grid-template-rows: 230px 230px;
    column-gap: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 0;

  }

  .cook-descriptions .desc {
    display: grid;
    align-self: flex-start;
    justify-self: end;
  }

  .desc .desc-order {
    align-self: center;
    justify-self: center;


  }

  .desc-title {
    line-height: 2;
    justify-self: center;
    align-self: stretch;
  }

  .desc-text {
    display: grid;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

}

@media screen and (max-width: 644px) {
  .cook-info h2 {
    font-size: 34px;
  }
}

@media screen and (max-width: 540px) {
  .cook-info h2 {
    font-size: 30px;
    text-align: center;
    max-width: 100%;
    margin: 0;
    padding-bottom: 40px;
  }

  .cook-descriptions {
    margin-left: 15px;
    column-gap: 15px;
  }
}

@media screen  and (max-width: 476px) {
  .cook-info h2 {
    font-size: 30px;
    text-align: center;
    max-width: 100%;
    margin: 0;
    padding-bottom: 40px;

  }

  .cook-descriptions {
    grid-template-columns: 1fr 1fr;
    margin-right: 15px;
    margin-left: 15px;
    grid-column-gap: 15px;
    grid-auto-flow: column;

  }
}

@media screen and (max-width: 376px) {
  .cook-macaroon-container {
    max-width: 345px;
    margin: 0 auto;
  }

  .cook-info h2 {
    font-size: 30px;
    text-align: center;
    max-width: 100%;
    margin: 0;
    padding-bottom: 40px;

  }

  .cook-info-text {
    font-size: 16px;
    font-family: GilroyRegular, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.5;
    max-width: 100%;
    text-align: center;
    margin: 0;

  }

  .cook-image {
    max-width: 100%;
    overflow: hidden;
    margin: 0;
  }

  .cook-descriptions {
    grid-template-columns: 1fr 1fr;
    margin-right: 15px;
    margin-left: 15px;
    grid-column-gap: 15px;
    grid-auto-flow: column;
  }
  .desc .desc-order {
    margin: 0 auto;
  }

  .desc-title {
    text-align: center;
    line-height: 2;
    font-size: 17px;
  }
  .desc-text {
    line-height: 1;
  }

  .order .container {
    max-width: 345px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .cook-info-macaroon{
    margin-left: 0;
  }

  .cook-descriptions {
    grid-template-columns: 1fr;
    margin-right: 15px;
    margin-left: 15px;
    grid-auto-flow: column;
    grid-column: inherit;

  }
}
