<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Macaroon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<section class="main">
  <div class="container main-container">
    <div class="main-about">
      <h1>Мягкие французские
        пироженки Macaroons</h1>
      <div class="main-about-text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними
        пироженками Macaroon!
      </div>
      <div class="about-button">
        <button class="btn" (click)="scrollTo(productElement)" ButtonEffects
                [defaultBackground]="'#b22644'"
                [hoverBackground]="'#7a162d'"
        >Выбрать макарун</button>
      </div>
    </div>
    <div class="main-about-image">
      <img src="assets/images/main.png" alt="Large">
    </div>

  </div>
</section>

<advantages [descriptions] ='descriptions'></advantages>



<section class="macaroon-choose" id="macaroon" #productElement>
  <div class="container">
    <h2 class="macaroon-choose-title">Выберите свой макарун</h2>
    <div class="macaroon-items">
      <product *ngFor="let product of products;" [product]="product" (addToCartEvent)="addToCard($event, orderElement )"></product>
    </div>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container">
    <div class="order-form">
      <div class="order-images">
        <div class="order-image-macaroon"><img src="assets/images/macarons.png" alt="Macaroons"></div>
      </div>
      <div class="order-form-content">
        <h2>Закажите макарун!</h2>
        <div class="order-form-text">
          Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
        </div>
        <div class="order-form-choose">
          <div class="order-form-choose-title">Ваш выбор</div>
          <div class="order-form-choose-product">
            <input type="text" class="order-input" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle" >
          </div>
        </div>

        <div class="order-form-data">
          <div class="order-form-data-title">Заполните данные для заказа</div>
          <div class="order-form-products">
            <div class="order-form-choose-product">
              <input type="text" class="order-input" placeholder="Ваше имя" [(ngModel)]="formValues.name" >
              <input type="text" class="order-input"  placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
              <button class="btn order-form-btn" (click)="createOrder()" ButtonEffects
                      [defaultBackground]="'#b22644'"
                      [hoverBackground]="'#7a162d'">Оформить заказ</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="order-form-image">
      <img src="assets/images/s-berry2.png" class="s-berry" alt="Strawberry">
    </div>
    <div class="order-image-strawberry"><img src="assets/images/s-berry.png" class="s-berry1" alt="strawberry"></div>
  </div>
</section>



<script>

  document.getElementById('burger').onclick = function () {
    document.getElementById('menu').classList.add('open');
  }

  document.querySelectorAll('#menu *').forEach((item) => {
    item.onclick = () => {
      document.getElementById('menu').classList.remove('open');
    }
  })

</script>


</body>
</html>
