
/*MAIN*/
.main {
  background: #eba8b1;
  padding: 126px 0 108px 0;
  overflow: hidden;

}

.main-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.main-about {
  max-width: 582px;
  margin-left: 15px;
}

h1 {
  font-weight: normal;
  font-size: 55px;
  font-family: Tavolga-free, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1;
  margin-bottom: 60px;
}

.main-about-text {
  font-size: 18px;
  font-family: Tavolga-free, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.3;
  max-width: 345px;
  margin-bottom: 80px;
}



.main-about-image {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;

}
.main-about-image img{
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}
.main-about-image:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid transparent;
  box-shadow: 0 0 0 2px #770b1d;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.main-about-image::before{
  animation: wave 2s linear infinite;
}
@keyframes wave {
  0%{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100%{
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}


.main-about-image:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid transparent;
  box-shadow: 0 0 0 2px #770b1d;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.main-about-image::after{
  animation: wave 1.4s linear infinite;
  animation-delay: .7s;
}





/*Section__order*/
.order {
  padding: 115px 0 120px 0;
  background-color: rgb(255, 239, 239);

}

.order .container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.order-form {
  display: flex;
}
.order-image-strawberry .s-berry1{
  position: absolute;
  top:   44px;
  right: 1110px;
  animation: floating 2s ease-out infinite;

}
@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(44px);
  }
}

.order-image-macaroon {
  padding-top: 65px;
}

.order-form-content {
  margin-left: 165px;
  max-width: 406px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.order-form h2 {
  font-size: 45px;
  font-family: Tavolga-free, sans-serif;
  font-weight: normal;
  color: rgb(51, 25, 7);
  line-height: 1.2;
  margin-bottom: 30px;
  text-align: right;
}

.order-form-image .s-berry {
  position: absolute;
  top: 468px;
  left: 924px;
  z-index: 3;
  transform: rotate(45deg);
  animation: floating-second 3s ease-out infinite;

}
@keyframes floating-second {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}

.order-form-text {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.5;
  margin-bottom: 45px;
  max-width: 406px;
}

.order-form-choose {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.order-form-choose-title {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(18, 10, 6);
  margin-bottom: 20px;
}

.order-input {
  font-size: 15px;
  font-family: GilroyBold, sans-serif;
  color: #760c22;
  padding: 22px 26px 24px 26px;
  background-color: rgb(255, 239, 239);
  border: 1px solid rgb(130, 19, 40);
  border-radius: 30px;
  box-sizing: border-box;
  width: 290px;
}

.order-input::placeholder {
  color: #760c22;
}

.order-form-data {
  align-items: center;
}

.order-form-products {
  display: flex;
}

.order-form-data-title {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(18, 10, 6);
  line-height: 3;

}

.order-form-choose-product input {
  margin-bottom: 10px;
}

.order-form-choose-product .order-form-btn {
  border-radius: 30px;
  width: 290px;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 0;

}
.order-form-btn:hover{
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
  transition: 0.4s;
}

@keyframes appear {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}



//adaptive============================================================================

@media screen and (max-width: 1167px) {
  .main-container {
    position: relative;
    padding: 0 0 200px 0;
  }

  .main-container .main-about-image {
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    top: 230px;
    right: 10px;

  }



  .order-images {
    order: 2;
    margin-left: 100px;

  }

  .order-form-content {
    margin-left: 15px;
    order: 1;
  }
  .order-image-macaroon {
    padding-top: 165px;
  }

  .order-form-image .s-berry {
    top: 113px;
    right: 108px;
    left: 427px;
    width: 50px;
    height: 60px;
    transform: rotate(45deg);
    z-index: 3;

  }

  .order-image-strawberry .s-berry1 {
    position: absolute;
    top: 40px;
    right: 324px;
    left: 530px;
    bottom: 389px;
  }

  .order-images {
    margin-left: 0;
  }

  @keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(2.5);
      opacity: 0;
    }
  }

}


@media screen and (max-width: 768px) {
  .main {
    background: #eba8b1;
    padding: 62px 0 0px 0;
  }

  .main-container {
    max-width: 728px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .main-container .main-about-image {
    margin-left: 170px;
    transform: translate(0, -88px);
    position: relative;
    top: 0;
    right: 0;

  }

  .main .btn {
    box-shadow: 0 0 0 0 rgba(130, 19, 40, 0.5);
  }


  .order {
    padding: 115px 0 120px 0;
    background-color: rgb(255, 239, 239);

  }

  .order .container {
    max-width: 728px;
    margin: 0 auto;
  }

  .order-content {
    align-items: flex-end;
  }

  .order-images {
    order: 2;

  }

  .order-images .order-image-macaroon {
    display: flex;
    align-items: flex-end;
  }

  .order-form-content {
    margin-left: 0;
    order: 1;
  }

  .order-images {
    margin-right: 0;
  }

  .order-image-macaroon {
    padding-top: 300px;
    margin-right: 0;
  }

  .order-image-strawberry .s-berry1 {
    position: absolute;
    top: 259px;
    right: 324px;
    left: 345px;
    bottom: 389px;
  }

  .order-form-image .s-berry {
    position: absolute;
    top: 162px;
    right: 108px;
    left: 588px;
    width: 50px;
    height: 60px;
    transform: rotate(45deg);
    z-index: 3;

  }

  @keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(2.5);
      opacity: 0;
    }
  }
}


@media screen and (max-width: 644px) {


  .order-image-strawberry .s-berry1 {
    position: absolute;
    top: 79px;
    right: 324px;
    left: 375px;
    bottom: 389px;
  }

  .order-form-image .s-berry {
    display: none;
    position: absolute;
    top: 162px;
    right: 108px;
    left: 588px;
    width: 50px;
    height: 60px;
    transform: rotate(45deg);
    z-index: 3;

  }

  .order-form {
    position: relative;
  }

  .order-form-content {
    margin-left: 15px;
    position: relative;
    z-index: 3;
  }

  .order-form-data {
    position: relative;
    z-index: -1;
  }

  .order-image-macaroon {
    position: absolute;
    left: 251px;
    z-index: 1;
    width: 352px;
    height: 420px;
  }

  .footer-contact {
    margin-right: 15px;
  }

  @keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
    }
  }

}

@media screen and (max-width: 602px) {
  .order-image-macaroon {
    position: absolute;
    left: 163px;
    z-index: 1;
    width: 352px;
    height: 420px;
  }

  .main-container {
    padding-bottom: 60px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
  }

  .main .btn {
    text-align: center;
    margin: 0 auto;
  }

  .about-button {
    text-align: center;
  }

  .main-about {
    max-width: 582px;
    margin-left: 15px;
  }

  h1 {
    font-family: Tavolga-free, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 60px;
    max-width: 100%;
    font-size: 44px;
    text-align: center;
  }

  .main-about-text {
    font-size: 18px;
    font-family: Tavolga-free, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.3;
    max-width: 100%;
    margin-bottom: 80px;
    text-align: center;

  }

  .main-container .main-about-image {
    margin-top: 60px;
    margin-left: 0;
    transform: translate(0, 0);

  }


  .order .order-form-content {
    margin-left: 15px;
  }

}

@media screen and (max-width: 540px) {
  .main-container {
    padding-bottom: 60px;
    max-width: unset;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

  }

  .main-container .main-about-image {
    margin-left: 15px;
  }



  .order-image-macaroon {
    left: 0;
    right: 0;
  }

  .order-image-macaroon img {
    display: none;
  }


}


@media screen  and (max-width: 476px) {

  .main-about h1 {
    font-size: 38px;
  }

  .main-about-image {
    margin-left: 15px;
  }

  .order-image-strawberry .s-berry1 {
    position: absolute;
    top: 103px;
    right: 0;
    left: 223px;
    bottom: 389px;
  }

  .order-form h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 376px) {

  .main-container {
    max-width: 345px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

  }

  .main .btn {
    text-align: center;
    margin: 0 auto;
  }

  .about-button {
    text-align: center;
  }

  .main-about {
    max-width: 582px;
    margin-left: 15px;
  }

  .main h1 {
    font-family: Tavolga-free, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 60px;
    max-width: 100%;
    font-size: 31px;
    text-align: center;
  }

  .main-about-text {
    font-size: 16px;
    font-family: Tavolga-free, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.3;
    max-width: 100%;
    margin-bottom: 80px;
    text-align: center;

  }

  .main-container .main-about-image {
    margin-left: 0;
    transform: translate(0, 0);

  }

  .order-image-strawberry .s-berry1 {
    position: absolute;
    top: 108px;
    right: 0;
    left: 215px;
    bottom: 389px;
  }

  .order-form-image .s-berry {
    display: none;
  }

  .order-images .order-image-macaroon {
    display: none;
  }

  .order-form h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .order-form-text {
    font-size: 16px;
    font-family: GilroyRegular, sans-serif;
    margin-bottom: 45px;
    max-width: 100%;
  }

  .order-form-content {
    margin-left: 0;
  }

  .order-images {
    display: none;
  }

  @keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
    }
  }

}

@media screen and (max-width: 320px) {
  .main-container .main-about-image {
    margin-left: 15px;
  }

}
